debug/photos/*
debug/photos_backup/*
debug/versions/photos/*

# Ignore actual config file, but not the example
*.conf
!*.conf.example

# Ignore log files
*.log
*.log.*

# Ignore pid and lock files
*.pid
*.lock

# Ignore debug/test directories
debug/
test/

cmake-build-debug
build
.idea

.vscode

